{% load static %}
<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
<head>
        {% block title %}
        <title>To my Baby</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block staticfiles %}
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static 'css/Boostrap.css' %}">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
             <a class="navbar-brand" href="/" style="font-family: Lobster; font-size: 45px; background-color: #ff9400; ">My Blog To Love</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
             </button>

             <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto">
                   <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="{% url 'blog:post_new'  %}">Add Post<span class="sr-only">(current)</span></a>
                   </li>
                   <li class="nav-item">
                      <a class="nav-link" href="#">Functions</a>
                   </li>
                </ul>
                   <ul class="nav navbar-nav navbar-right">
                       <li class="nav-item">
                      <a href="{% url 'blog:post_detail' pk=8 %}" class="top-menu"><span class="glyphicon glyphicon-heart"></span></a>
                   </li>
                       <li class="dropdown">
                          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Options</a>
                          <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                              <a class="dropdown-item" href="#">Account</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Configuracion</a>
                              <div class="dropdown-divider"></div>
                                 <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </div>
                       </li>
                   </ul>
             </div>
         </nav>

	{% endblock %}

        <div class="content container">
            <div class="row">
             <div class="col-md-8">
                 {% block content %}

                 {% endblock %}
             </div>
            </div>
        </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>