
{% extends 'base/base.html' %}

     {% block title %}
        <title>Posts Blog</title>
     {% endblock %}
     {% block content %}
         {% for post in posts %}
             <div class="post">
                 <div class="date">
                     <p>Plublished: {{ post.published_date }}</p>
                 </div>
                 <h1><a style="font-family: Lobster" href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                 <p>{{ post.text|linebreaksbr }}</p>
             </div>
         {% endfor %}
     {% endblock %}