{% extends 'base/base.html' %}
    {% block title %}
        <title>New Post</title>
     {% endblock %}
    {% block content %}
        <form method="POST" >
            <fieldset>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <h1 style="font-family: Lobster">New post</h1>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="form-group">
                         <label for="{{ form.title.name }}">{{ form.title.label }}</label>
                         {{ form.title}}
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="form-group">
                         <label for="{{ form.text.name }}">{{ form.text.label }}</label>
                         {{ form.text}}
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-md-8 col-md-offset-2">
                     <div class="form-group">
                         <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                     </div>
                 </div>
             </div>
           </fieldset>
        </form>
{% endblock %}